@supports (zoom:2) {
	input[type="radio"],  input[type=checkbox]{
	zoom: 2;
	}
}
@supports not (zoom:2) {
	input[type="radio"],  input[type=checkbox]{
		transform: scale(2);
		margin: 15px;
	}
}

.controlpanel{
	/*display: flex;*/
	margin-bottom: 1rem;
	/* border-bottom: .2rem solid red; */
}

button.selectionToggle{
	padding: 10px;
	font-size: 23px;
	border: none;
	background: cadetblue;
	width: 100%;
	flex-grow: 1;
}
.selectionSearch{
	padding: 10px ;
	text-align: center;
	border: none;
	font-size: 23px;
	width: 100%;
	flex-grow: 1;
}

.coinlist{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.coinelement{
  display: inline-block;
  width: 50%;
  /* padding: 7px 0 7px 0; */
  display: flex;
  align-items: center;
}
.coinelement input{
	position: absolute;
	z-index: 1;
	opacity: 0;
}
.coinelement label{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: .5rem;
	margin: .5rem;
}
.coinelement label svg{
	margin-left: auto;
}
.coinelement input:checked + label{
	background: rgb(228, 228, 228);
	font-style: italic;
}
.coinelement label img{
	margin-right: .5rem;
}

@media(min-width: 768px) {
  .coinelement {
    width: 50%;
  }
}
@media(min-width: 968px) {
  .coinelement {
    width: 30%;
  }
}
@media(min-width: 1200px) {
  .coinelement {
    width: 25%;
  }
}

.coinelement input{
	margin-left: 1rem;
}
