@font-face { font-family: BTC; src: url(../assets/fonts/BTC.ttf); }
.btc {
  font-family: "BTC";
  line-height: initial;
}
.h3{
  font-size: 1.17em;
}
.h3 > *{
  display: inline-block;
  width: 15px;
}
.coinwidget{
  display: flex;
  width: 100%;
  /* margin: 0 .5rem .5rem; */
}
.coinwidget-inner {
	padding: .4rem;
	margin: .5rem .5rem;
	background: #ddd;
	width: 100%;
	display: flex;
  align-items: flex-start;
}


.coinwidget-inner .coinwidget--left{
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
  margin: 0 1rem 0 0;
  height: 100%;
}
.coinwidget--left > img {
  width: 64px;
}
.coinwidget--left strong {
  padding-top: .5rem;
}
.coinwidget--left .button-delete {
  margin-top: auto;
}

.coinwidget-inner h2{
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}
.coinwidget-inner h3 {
  font-weight: 500;
  margin: 0;
}

@media(min-width: 768px) {
  .coinwidget {
    width: 50%;
  }
}
@media(min-width: 968px) {
	.coinwidget {
	  width: 33.333333%;
	}
}
@media(min-width: 1200px) {
	.coinwidget {
	  width: 25%;
	}
}


.coinwidget-fade-enter {
  opacity: 0.01;
}

.coinwidget-fade-enter.coinwidget-fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}
.coinwidget-fade-exit {
  opacity: 1;
}

.coinwidget-fade-exit.coinwidget-fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.coinwidget--right {
  position: relative;
  width: 100%;
}
.coinwidget--right .button-delete{
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .5;
}
.price-default{
  display: flex;
  align-items: center;
}

.icon-open-close{
  opacity: .5;
  margin-left: auto;
}